.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 28rem;
    margin: 0 auto;
  }

  .content {
    text-align: center;
  }

  .intro {
    margin: 0;
  }

  .pLogin {
    margin: 5px;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .label {
    
  }
  .input {
    padding: 5px;
    margin: 10px 0;
  }
  .button {
    padding: 5px 10px;
  }
  .error {
    color: red;
  }
  