.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(79, 85, 119);
  }
  .salaryForm, 
  .expenseForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 22em;
    align-items: flex-end;
  }
  .input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  .button {
    margin-left: 10px;
    padding: 5px 10px;
  }
  .limit, 
  .total {
    margin-bottom: 20px;
  }
  